<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/registration_login_handler.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<h1><img src="/static/images/logo.png"></h1>

<div class="board-container">
</div>

<div class="registration-modal">
    <div class="modal-content">
        <div class="container">
            <span class="close">&times</span>
            <h1>REGISTRATION</h1>
            <div class="flash-message"></div>
            <hr>

            <label for="username"><b>USERNAME</b></label>
            <input type="text" id="username" placeholder="Please enter your username:" name="username">

            <label for="email"><b>E-MAIL</b></label>
            <input type="text" id="email" placeholder="Please enter your e-mail:" name="email">

            <label for="psw"><b>PASSWORD</b></label>
            <input type="password" id="psw" placeholder="Please enter your password:" name="psw">

            <label for="psw-repeat"><b>REPEAT PASSWORD</b></label>
            <input type="password" id="psw-repeat" placeholder="Please repeat your password:" name="psw-repeat">

            <div class="clearfix">
                <button type="submit" class="signupbtn">REGISTER</button>
            </div>
        </div>
    </div>
</div>

<div class="login-modal">
    <div class="modal-content">
        <div class="container">
            <span class="close-login">&times</span>
            <h1>SIGN IN</h1>
            <div class="flash-message" id="login-flash"></div>
            <hr>

            <label for="user"><b>USERNAME</b></label>
            <input type="text" id="user" placeholder="Please enter your username:" name="username">

            <label for="password"><b>PASSWORD</b></label>
            <input type="password" id="password" placeholder="Please enter your password:" name="psw">

            <div class="clearfix">
                <button type="submit" class="loginbtn">SIGN IN</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>